#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.form-container .intro-text {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container label {
  font-weight: bold;
}

.form-container input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
}

.form-container button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

.form-container .personal_info {
  font-weight: bold;
  font-size: 15px;
}

.form-container .subtitle {
  font-size: 12.5px;
  margin-top: -20px;
}

.form-container .detail_info {
  font-size: 14px;
}

.form-container .last_info {
  font-weight: bold;
  text-align: center;
}
.contents {
  display: inline-block;
  float: none;
  position: relative;
  width: 100%;
  padding: 0;
}

.product_detail {
  padding: 35px 0 0;
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.detailArea {
  position: relative;
  padding: 0 0 50px;
  margin: 0;
}

.imgArea {
  background-image: initial;
  float: left;
  width: 600px;
  margin: 0;
  padding: 0;
}
.product_img {
  width: 600px;
  height: 600px;
}
.infoArea {
  position: relative;
  float: right;
  width: 600px;
  padding: 0 0 0;
  margin: 0;
}
.summary {
  margin: 6px 0 8px;
  margin-top: 20px;
}
.headingArea {
  padding: 0 0 20px;
  line-height: 1.4;
}

.t_row {
  padding: 5px 0 6px;
  width: 150px;
}

table {
  border-collapse: separate;
  margin-top: 30px;
}
th,
td {
  padding: 0px;
}
tr.space {
  border-bottom: 40px solid transparent;
}

.evaluate_line {
  border: 1px solid;
  width: 100%;
  margin-top: -20px;
}

.evaluation-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.evaluation-section p {
  margin-right: 20px;
}

.evaluation-section .evaluate_button {
  background-color: #cabfbf;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: -20px;
}

.place-text {
  cursor: pointer;
  color: rgba(16, 165, 43, 0.416);
  font-weight: bold;
  transition: font-size 0.3s, color 0.3s;
}

.place-text:hover {
  font-size: 1.1em; /* 예시로 크기를 1.2배로 변경 */
  color: blue; /* 예시로 파란색으로 변경 */
  cursor: pointer;
  font-weight: bold;
}
.modal-text {
  font-weight: bold;
}
