.exhibition-list {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-bottom: 10px;
}

.header p {
  font-size: 25px;
  color: #872323;
  font-weight: bold;
  margin-bottom: -10px;
}

.customhr {
  background-color: #872323;
  height: 2px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.customButton {
  margin-right: 10px;
  margin-bottom: -30px;
  background-color: #872323;
  border: 1px solid #872323;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.customButton:hover {
  background-color: #6d1d1d;
  color: #fff;
}
